* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1DB954;
    padding: 10px 20px;
    height: 80px;
}

.logo img {
    height: 40px;
}

.search-bar input {
    padding: 8px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

.feedback-btn button {
    padding: 8px 16px;
    background-color: black;
    color: #1DB954;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.feedback-btn button:hover {
    background-color: #f1f1f1;
}
#main_division{
    background-color: black;
    height: 60vh;
    width: 100%;
}
.h1_one{
    font-weight: 32px;
    font-family: sans-serif;
    color: white;
}
#sub1{
    position: relative;
}
#h1one{
   position: absolute;
   left: 440px;
   top: 120px;

    
}
#h1two{
    position: absolute;
    left: 400px;
    top: 260px;
}
#image1{
   position: relative;
   left: 1000px;
   top: 70px;
}

#images_one{
    height: 220px;
    border-radius: 10px 10px 0px 0px;
}
#img_divi{
    display: flex;
    gap: 20px;
    
}
.cl{
    color: white;
    margin-top: 10px;
    margin-right: 60px;
    
}
.button_img{
    border-radius: 10px;
    width: 100px;
    height: 25px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: -60px;
}
.card_id{
    /* border: 2px solid red; */
    background-color: #1DB954;
    height: 300px;
}